<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if page.description %}
	<meta name="description" content="{{page.description}}" />
{% else %}
	<meta name="description" content="{{site.description}}" />
{% endif %}

{% if page.categories %}
	<meta name="keywords" content="{{page.categories | join: ','}}" />
{% else %}
	<meta name="keywords" content="{{site.keywords | join: ','}}" />
{% endif %}

{% if page.description %}
	<meta name="author" content="{{page.author}}" />
{% else %}
	<meta name="author" content="{{site.author}}" />
{% endif %}

{% if page.date %}
<meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
{% endif %}

<title>
	{% if page.title %}
		{{ page.title }}
	{% else %}
		{{ site.title }}
	{% endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/syntax.css">

<script src="/assets/js/vendor/modernizr.js"></script>
