<div class="contain-to-grid">
  <div class="sticky">
    <nav class="top-bar radius" data-topbar data-options="mobile_show_parent_link: false" role="navigation">
      <!-- Background pattern from subtlepatterns.com  -->
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">{{ site.name }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li {% if page.active == "home" %}class="active"{% endif %}>
            <a href="/">Home</a>
          </li>
          <li class="divider"></li>
          <li {% if page.active == "about" %}class="active"{% endif %}>
            <a href="/about">About</a>
          </li>
          {% comment %}
          <li class="has-dropdown {% if page.active == "about" %}active{% endif %}">
            <a href="#">About</a>
            <ul class="dropdown">
              <li><a href="/about">About Me</a></li>
              <li><a href="/about/books">Books</a></li>
            </ul>
          </li>
          {% endcomment %}
          <li class="divider"></li>
          <li class="has-dropdown {% if page.active == "notes" %}active{% endif %}">
            <a href="#">Tech Notes</a>
            <ul class="dropdown">
              {% for post in site.collections.notes.docs %}
                {% if post.parent == true %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.active == "dnd" %}active{% endif %}">
            <a href="#">D&#38;D</a>
            <ul class="dropdown">
              <li><a href="/dnd/gnomeopath.html">The Gnoemopath</a></li>
              <li><a href="/dnd/elyara.html">Elyara Fei</a></li>
              <li><a href="/dnd/elhadron.html">Elhadron</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>
