<div class="contain-to-grid">
  <div class="sticky">
    <nav class="top-bar radius" data-topbar data-options="mobile_show_parent_link: false" role="navigation">
      <!-- Background pattern from subtlepatterns.com  -->
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">{{ site.name }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li {% if page.active == "home" %}class="active"{% endif %}>
            <a href="/">Home</a>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.active == "about" %}active{% endif %}">
            <a href="#">About</a>
            <ul class="dropdown">
              <li><a href="/about">About Me</a></li>
              <li><a href="/about/books">Books</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.active == "notes" %}active{% endif %}">
            <a href="#">Notes</a>
            <ul class="dropdown">
              <li><a href="/notes/java/">Java</a></li>
              <li><a href="/notes/c-sharp/">C#</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>
