<div class="contain-to-grid">
  <div class="sticky">
    <nav class="top-bar radius" data-topbar data-options="mobile_show_parent_link: false" role="navigation">
      <!-- Background pattern from subtlepatterns.com  -->
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">{{ site.name }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">

          {% for item in site.data.pages %}

            {% capture active_class %}{% if page.active == item.active %}active{% endif %}{% endcapture %}
            {% capture dropdown_class %}{% if item.dropdown %}has-dropdown{% endif %}{% endcapture %}

            <li class="divider"></li>
            <li class="{{ active_class }} {{ dropdown_class }}">
              <a href= {{ item.url }}>{{ item.title }}</a>
              {% if item.dropdown %}
                <ul class="dropdown">
                  {% for dropdown in item.dropdown %}
                    <li><a href={{ dropdown.url }}>{{ dropdown.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}

        </ul>
      </section>
    </nav>
  </div>
</div>
