$font-stack: "helvetica";

$button-colour: rgba(235, 235, 235, 0.5);
$button-hover-colour: rgba(165, 165, 165, 1);
$button-width: 80px;
$button-margin: 5px;

$max-page-width: 960px;
$min-page-width: 400px;