.header {
  position: relative;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("/assets/img/triangular.png"); }

.title {
  display: inline-block;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.navigation {
  display: inline-block;
  position: absolute;
  right: 10px;
  vertical-align: top; }

.mobile-navigation {
  display: none; }

.navigation-link {
  display: inline-block;
  text-align: center; }

.hide {
  display: none; }

.showDropdown {
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

.showMobileNavigation {
  display: block; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

.site {
  font-family: "helvetica";
  max-width: 960px;
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px; }

.button {
  background-color: rgba(235, 235, 235, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  height: 100%;
  padding: 9px 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  color: black; }

.button:hover {
  background-color: #a5a5a5;
  cursor: pointer; }

.navigation-link:active {
  color: black; }

.content {
  padding: 10px;
  min-height: 300px; }

.footer {
  border-top: solid;
  border-top-width: 2px;
  border-top-color: lightgray;
  text-align: center;
  padding: 10px; }
  .footer .footer-content {
    float: left;
    width: 50%; }
  .footer .license {
    float: right;
    width: 50%;
    text-align: justify;
    font-size: 13px; }

.small-font {
  font-size: 13px; }

.posts {
  margin-left: 20px;
  line-height: 1.75em; }
  .posts .date {
    min-width: 110px;
    vertical-align: top; }
  .posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%; }

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

.list {
  list-style-type: none;
  line-height: 25px;
  margin-left: 20px; }
  .list span {
    padding: 3px;
    font-variant: small-caps;
    font-size: x-small;
    vertical-align: middle;
    border-style: solid; }
  .list .status {
    min-width: 60px;
    vertical-align: top; }
  .list .watched, .list .read {
    border-color: green; }
  .list .watched:after {
    content: "Watched"; }
  .list .read:after {
    content: "Read"; }
  .list .not-watched, .list .not-read {
    border-color: red; }
  .list .reading {
    border-color: green;
    border-style: double; }
  .list .reading:after {
    content: "Reading"; }
  .list .not-watched:after {
    content: "Not Watched"; }
  .list .not-read:after {
    content: "Not Read"; }

#about-me-pic {
  margin-right: 10px;
  float: left;
  width: 200px; }

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

.FourOhFour {
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }
