---
---
@import "vendor/foundation/settings";
@import "vendor/foundation";
@import "vendor/normalize";

@import "includes/constants";
@import "includes/lists";
@import "includes/vendor_prefix";

*, *:before, *:after {
  @include border-box(border-box)
}


body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.site {
  font-family: $font-stack;

  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-link:active {
  color: black;
}

.content {
  padding: 10px;
  min-height: 300px;
  img {
    max-width: 100%;
  }
  position: relative;
  overflow: hidden;
}

.footer {
  border-top: solid;
  border-top-width: 2px;
  border-top-color: lightgray;
  text-align: center;
  padding: 10px;

  .footer-content {
    float: left;
    width: 50%;
  }

  .license {
    float: right;
    width: 50%;
    text-align: justify;
    font-size: 13px;
  }
}

.small-font {
    font-size: 13px;
}

.posts {
  /* margin-left: 20px; */
  line-height: 1.75em;
  width: 100%;

  .date {
    min-width: 110px;
    vertical-align: top;
  }

  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

.post {
  text-align: justify;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.left-pic{
  margin-right:10px;
  float:left;
  width:35%;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.FourOhFour {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
