.list {
  list-style-type: none;
  line-height: 25px;
  margin-left: 20px;

  span {
    padding: 3px;
    font-variant: small-caps;
    font-size: x-small;
    vertical-align: middle;
    border-style: solid;
  }

  .status{
    min-width: 60px;
    vertical-align: top;
  }

  .watched, .read {
    border-color: green;
  }

  .watched:after{
    content: "Watched";
  }

  .read:after{
    content: "Read";
  }

  .not-watched, .not-read {
    border-color: red;
  }

  .reading {
    border-color: green;
    border-style: double;
  }

  .reading:after {
    content: "Reading";
  }

  .not-watched:after {
    content: "Not Watched";
  }

  .not-read:after {
    content: "Not Read";
  }
}