---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post">
  {{ content }}

  <table class="list">
    {% for data in site.data %}
        {% if data contains page.list %}
        {% assign sorted_list = data[1] | sort:"status" %}
            {% for item in sorted_list %}
                <tr>
                <td class="status"><span class="{{ item.status }}"></span></td>
                <td>{{ item.title }} 
                {% if item.comments %}
                    <em>({{ item.comments }})</em>
                {% endif %}
            </td>
                <td>
            {% endfor %}
        {% endif %}
    {% endfor %}
  </table>
</div>