---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post">
	{{ content }}

	<table class="list">
    {% for data in site.data %}
        {% if data contains page.list %}
            {% for item in data[1] %}
                <tr>
                <td class="status"><span class="{{ item.status }}"></span></td>
                <td>{{ item.title }} 
                {% if item.comments %}
                    <em>({{ item.comments }})</em>
                {% endif %}
            </td>
                <td>
            {% endfor %}
        {% endif %}
    {% endfor %}
	</table>
</div>